<div class="portfolio-item">
  <div {{# portfolio-item.hasImage}} class="portfolio-item--image" {{/ portfolio-item.hasImage }}>
    <div class="secondary-title">Portfolio Item Name</div>
  </div>
</div>