<!-- Begin .header -->
<header class="header">
  {{> molecules-brand }}
  <div class="links">
    {{> atoms-links }}
    {{> atoms-links }}
    {{> atoms-links }}
    {{> atoms-links }}
    {{> atoms-links }}
  </div>
</header>
