<footer class="footer">
  <div class="footer--content-block">
    <div class="footer--brand">
      {{> basics-logo }}
      {{> basics-brand-name }}
    </div>
    {{> molecules-contact-block }}
    {{> molecules-contact-block }}
    {{> molecules-contact-block }}
  </div>
  <div class="description-text copyright">
    Copyright and social icons go here
  </div>
</footer>

