<div class="revolution-slider">
  <div class="revolution-slider--content">
    {{> atoms-next-arrow--left }}
    {{> molecules-revolution-content }}
    {{> atoms-next-arrow--right }}
  </div>
  <div class="revolution-slider--pagination">
    {{> molecules-pagination }}
  </div>
</div>