/* ============= Start of container =================
* Set the reoccuring container styles that appear in the theme
*/

.brand-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
