<div class="features-icon-list">
  <div class="features-icon-list--row">
    {{> molecules-features-icon-block }}
    {{> molecules-features-icon-block }}
    {{> molecules-features-icon-block }}
  </div>
  <div class="features-icon-list--row">
    {{> molecules-features-icon-block }}
    {{> molecules-features-icon-block }}
    {{> molecules-features-icon-block }}
  </div>
</div>