<form class="form">
  <div class="form--header">
    {{> molecules-info-block-header }}
    {{> basics-subheadings }}
  </div>
  <fieldset>
    {{> molecules-input-with-placeholder }}
    {{> molecules-input-with-placeholder }}
    {{> molecules-input-with-placeholder }}
    {{> basics-button-info }}
  </fieldset>
</form>