<form class="form">
  <div class="form--header">
    {{> molecules-info-block-header }}
    {{> atoms-subheadings }}
  </div>
  <fieldset>
    {{> molecules-input-with-placeholder }}
    {{> molecules-input-with-placeholder }}
    {{> molecules-input-with-placeholder }}
    {{> atoms-button-info }}
  </fieldset>
</form>