<div class="features-icon-block">
  <div class="features-icon-block--icon">icon</div>
  <div class="features-icon-block--info">
    {{> atoms-subheadings }}
    {{> atoms-description }}
  </div>
</div>